
{erl_opt, [debug_info]}.

{plugins, [
    rebar3_hex
]}.

{deps, [  
    {cowboy, "2.2.1"}    
    ,{jsone, "1.4.5"}    
    ,{uuid, "1.7.2", {pkg, uuid_erl}}
    ,{pbkdf2, "2.0.0"}
    ,{jwt, "0.1.5"}
]}.

% Export all functions for unit testing
{eunit_compile_opts, [export_all]}.

{relx, [
    {release, {erlstore, "0.0.1"}, [erlstore]},
    
    % Folders that will be copied to release target
    {overlay, [
        {copy, "config", "config"}
        ,{copy, "data", "data"}
        ,{copy, "www-admin", "www-admin"}
    ]},
    {extended_start_script, true}
]}.